/*
    Assigns the derived theme to the
    Angular Material components that need it
*/

@import '~@angular/material/theming';
@include mat-core();
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Below imports must be in the following order.

$P: 'P';
$A: 'A';
$W: 'W';

$primary: buildPalette($P);
$accent: buildPalette($A);
$warn: buildPalette($W);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include mat-dialog-theme($theme);
@include mat-core-theme($theme);
@include mat-autocomplete-theme($theme);
@include mat-button-theme($theme);
@include mat-button-toggle-theme($theme);
@include mat-card-theme($theme);
@include mat-checkbox-theme($theme);
@include mat-chips-theme($theme);
@include mat-datepicker-theme($theme);
@include mat-grid-list-theme($theme);
@include mat-icon-theme($theme);
@include mat-input-theme($theme);
@include mat-list-theme($theme);
@include mat-menu-theme($theme);
@include mat-progress-bar-theme($theme);
@include mat-progress-spinner-theme($theme);
@include mat-radio-theme($theme);
@include mat-select-theme($theme);
@include mat-sidenav-theme($theme);
@include mat-slide-toggle-theme($theme);
@include mat-slider-theme($theme);
@include mat-tabs-theme($theme);
@include mat-toolbar-theme($theme);
@include mat-tooltip-theme($theme);

// Set colors as variables
// for use in other, non-material components
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);
