/*
    Sets the base theme and global values
    until the client theme is loaded from the Config Service
*/

body {
  --P-50: #69b7fc;
  --P-100: #1e94fa;
  --P-200: #0477dc;
  --P-300: #035196;
  --P-400: #024178;
  --P-500: #02315a;
  --P-600: #01213c;
  --P-700: #01101e;
  --P-800: #000000;
  --P-900: #000000;
  --P-A100: #0472d2;
  --P-A200: #035caa;
  --P-A400: #022e55;
  --P-A700: #01101e;

  --A-50: #ffffff;
  --A-100: #ffffff;
  --A-200: #ffffff;
  --A-300: #e1e3e5;
  --A-400: #d1d4d6;
  --A-500: #c1c5c8;
  --A-600: #b1b6b9;
  --A-700: #a0a6ab;
  --A-800: #90979d;
  --A-900: #80888e;
  --A-A100: #ffffff;
  --A-A200: #ecedee;
  --A-A400: #bec2c5;
  --A-A700: #a0a6ab;

  --W-50: #ffffff;
  --W-100: #ffbdbd;
  --W-200: #ff8585;
  --W-300: #ff3d3d;
  --W-400: #ff1f1f;
  --W-500: #ff0000;
  --W-600: #e00000;
  --W-700: #c20000;
  --W-800: #a30000;
  --W-900: #850000;
  --W-A100: #ff7a7a;
  --W-A200: #ff5252;
  --W-A400: #fa0000;
  --W-A700: #c20000;
}

$variables: (--P-50: var(--P-50),
  --P-100: var(--P-100),
  --P-200: var(--P-200),
  --P-300: var(--P-300),
  --P-400: var(--P-400),
  --P-500: var(--P-500),
  --P-600: var(--P-600),
  --P-700: var(--P-700),
  --P-800: var(--P-800),
  --P-900: var(--P-900),
  --P-A100: var(--P-A100),
  --P-A200: var(--P-A200),
  --P-A400: var(--P-A400),
  --P-A700: var(--P-A700),

  --A-50: var(--A-50),
  --A-100: var(--A-100),
  --A-200: var(--A-200),
  --A-300: var(--A-300),
  --A-400: var(--A-400),
  --A-500: var(--A-500),
  --A-600: var(--A-600),
  --A-700: var(--A-700),
  --A-800: var(--A-800),
  --A-900: var(--A-900),
  --A-A100: var(--A-A100),
  --A-A200: var(--A-A200),
  --A-A400: var(--A-A400),
  --A-A700: var(--A-A700),

  --W-50: var(--W-50),
  --W-100: var(--W-100),
  --W-200: var(--W-200),
  --W-300: var(--W-300),
  --W-400: var(--W-400),
  --W-500: var(--W-500),
  --W-600: var(--W-600),
  --W-700: var(--W-700),
  --W-800: var(--W-800),
  --W-900: var(--W-900),
  --W-A100: var(--W-A100),
  --W-A200: var(--W-A200),
  --W-A400: var(--W-A400),
  --W-A700: var(--W-A700));
