<div #THEME_CONTAINER>
  <mat-toolbar color="primary"> PRIMARY! </mat-toolbar>
  <mat-toolbar color="accent"> ACCENT! </mat-toolbar>
  <mat-toolbar color="warn"> WARN! </mat-toolbar>

  <section class="margin1">
    <div class="mat-h1">
      Built-in Color Pickers
    </div>
    <mat-palette-picker [(ngModel)]="theme"></mat-palette-picker>
  </section>

  <section class="margin1">
    <div class="mat-h1">
      Client Defined Pickers
    </div>
    <div>
      <input type="color" #pPicker (change)="theme.primary = pPicker.value; updatePrimary()" [value]="theme.primary" />
      {{ theme.primary }}
    </div>
    <div>
      <input type="color" #aPicker (change)="theme.accent = aPicker.value; updateAccent()" [value]="theme.accent" />
      {{ theme.accent }}
    </div>
    <div>
      <input type="color" #wPicker (change)="theme.warn = wPicker.value; updateWarn()" [value]="theme.warn" />
      {{ theme.warn }}
    </div>
  </section>
</div>
