<mat-toolbar color="primary"> PRIMARY! </mat-toolbar>
<mat-toolbar color="accent"> ACCENT! </mat-toolbar>
<mat-toolbar color="warn"> WARN! </mat-toolbar>

<section class="margin1">
  <div class="mat-h1">
    Built-in Color Pickers
  </div>
  <mat-palette-picker
    paletteType="PRIMARY"
    [colorCode]="p"
  ></mat-palette-picker>
  <mat-palette-picker paletteType="ACCENT" [colorCode]="a"></mat-palette-picker>
  <mat-palette-picker paletteType="WARN" [colorCode]="w"></mat-palette-picker>
</section>

<section class="margin1">
  <div class="mat-h1">
    Client Defined Pickers
  </div>
  <div>
    <input
      type="color"
      #pPicker
      (change)="p = pPicker.value; updateP()"
      [value]="p"
    />
    {{ p }}
  </div>
  <div>
    <input
      type="color"
      #aPicker
      (change)="a = aPicker.value; updateA()"
      [value]="a"
    />
    {{ a }}
  </div>
  <div>
    <input
      type="color"
      #wPicker
      (change)="w = wPicker.value; updateW()"
      [value]="w"
    />
    {{ w }}
  </div>
</section>
